* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #1d1d1d;
}
#title {
  text-align: center;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
}
#color-palette {
  display: block;
  height: auto;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-color: #5555;
}
.color {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid black;
  vertical-align: middle;
}
#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  border: 2px solid black;
  padding: 20px;
  background-color: #5555;
}
.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}
.highLight {
  border: 2px solid gold;
}
#button-container {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}
#board-size {
  height: 30px;
  width: 50px;
  text-align: center;
}
#generate-board {
  height: 30px;
  width: 40px;
}
#clear-board {
    height: 30px;
    width: 60px;
}
